<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="description" content="Misra Op Gaming | Free and Paid Customs.We organise free and paid tournaments.Please join us to play PUBG mobile customs." />
    <meta property="og:site_name" content="Misra Op Gaming | Free and Paid Customs."/>
    <meta property="og:url" content="https://www.misraopgaming.tk/" />
    <meta property="og:image" content="/img/logo.jpeg" />
    <meta property="og:locale" content="en_GB" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/logo.jpeg" type="image/icon type" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Misra Op Gaming</title>
  </head>
  <body style="background: #111827;">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Misra Op Gaming</a>
        <button class="navbar-toggler" type="button" >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white hover:bg-blue-500" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white hover:bg-blue-500" href="/tournaments">Tournaments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white hover:bg-blue-500" href="/fungames">Fun Customs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white hover:bg-blue-500"  href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <!--<a class="nav-link text-white hover:bg-blue-500"  href="/teamlist">Teamlist</a>-->
              <div class="dropdown text-white hover:bg-blue-500">
                <button class="nav-link text-white hover:bg-blue-500" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">Teamlist</button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                  <li><a class="dropdown-item" href="/teamlist/freeroom">Free T3 Room</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/teamlist/freetdm">Free TDM</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/teamlist/paidroom">Paid Room</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white hover:bg-blue-500"  href="/pointstable">Points Table</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="text-gray-400 bg-gray-900 body-font">
      <div class="container px-1 py-2 mx-auto flex flex-col">
        <div class="lg:w-4/6 mx-auto">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content"  src="/img/banner.jpeg">
          </div>
          <div class="flex flex-col sm:flex-row mt-10">
            <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
              <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-800 text-gray-600">
                <img src="/img/logo.jpeg" style="border-radius:100px">
              </div>
              <div class="flex flex-col items-center text-center justify-center">
                <h2 class="font-medium title-font mt-4 text-white text-lg">Subhajit Misra</h2>
                <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
                <p class="text-base text-gray-400">Real name : Subhajit Misra</p>
                <p class="text-base text-gray-400">In-Game name : HITMÁÑ움BABU</p>
                <p class="text-base text-gray-400">Character ID : 5257518700</p>
              </div>
            </div>
            <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-800 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
              <p class="leading-relaxed text-lg mb-4"><b>Bio : </b>Hey guys , I am Subhajit Misra , a young streamer with thousands of dreams.I live in Krishna Nagar , West Bengal.I belong from a middle class family.My aim is to become a successfull Software Engineer and a streamer.</p>
              <p class="leading-relaxed text-lg mb-4"><b>Hobbies : </b>I like to do thrilling activities.Talking about my hobbies I am interested in playing online games and football.
              <p class="leading-relaxed text-lg mb-4"><b>Device Specs : </b>Device that I use for playing online games is Poco X3.</p>
              <p class="leading-relaxed text-lg mb-4"><b>Organizer : </b>I am organizer of Scrims , T3 Scrims ,Free and Paid Tournaments and Unlimited Custom Rooms. </p> 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
          <img src="/img/logo.jpeg" style="border-radius:100px">
          <span class="ml-3 text-xl">Misra Op Gaming</span>
        </a>
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/3 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Youtube</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="https://www.youtube.com/channel/UCG3iiKvrKe_9jiNhENGFvbw" class="text-gray-400 hover:text-white">Youtube Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/3 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Whatsapp Group</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="https://chat.whatsapp.com/HXPJnOowcZBHbqFQwwnjPy" class="text-gray-400 hover:text-white">Whatsapp Group Link</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/3 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Discord</h2>
          <nav class="list-none mb-10">
            <li>
              <a href="https://discord.gg/BA4ZUETRAA" class="text-gray-400 hover:text-white">Discord Link</a>
            </li>
          </nav>
        </div>
      </div>
    </div>
    <div class="bg-gray-800 bg-opacity-75 ">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-gray-400 text-sm text-center sm:text-left">© 2021 Misra Op Gaming —
          <a rel="noopener noreferrer" class="text-gray-500 ml-1" target="_blank">Subhajit Mishra</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <a class="text-gray-400">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-400">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-400">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
          </a>
          <a class="ml-3 text-gray-400">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
              <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
              <circle cx="4" cy="4" r="2" stroke="none"></circle>
            </svg>
          </a>
        </span>
      </div>
    </div>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    var ham = document.querySelector(".navbar-toggler")
    ham.addEventListener("click", toggle)
    function toggle(){
      console.log(document.getElementById('navbarNavDropdown').classList.contains("show"))
      if (document.getElementById('navbarNavDropdown').classList.contains("show")){
        $( "#navbarNavDropdown" ).removeClass( "show" ).addClass( "hidden" )
      }
      else{
        $( "#navbarNavDropdown" ).removeClass( "hidden" ).addClass( "show" )
      }
    }
    </script>
  </body>
</html>